// Variable Overrides
$theme-colors: (
  "primary": #ffd3d9
);
$body-bg: #ffd3d9;

* {
  font-family: 'Nanum Gothic', sans-serif;
}


// #projects .container-fluid {
//   background: white;
// }

@media screen and (min-width: 1440px) {
  div.jumbotron-fluid{
    background: #000 url('../assets/images/IMG_7619.JPG') ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #ffd3d9 !important;
    padding: 10rem;
    }
    ul.nav.nav-pills {
    margin-left: 7rem;
    margin-top: -9rem;
    }
    h1.display-6 {
      margin-top: -11rem;
      margin-left: -7rem;
    }

    h4.sub-display {
      margin-top: -7rem;
    }
  }


@media screen and (min-width : 1225px) and (max-width: 1439px){
  div.jumbotron-fluid{
    background: #000 url('../assets/images/IMG_7619.JPG') ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #ffd3d9 !important;
    padding: 10rem;
    }
    ul.nav.nav-pills {
    margin-left: 7rem;
    margin-top: -8rem;
    }
    h1.display-6 {
      margin-top: -17rem;
      margin-left: -5rem;
    }

    h4.sub-display {
      margin-top: -13rem;
    }
  }

@media screen and (min-width : 1024px) and (max-width: 1224px){
div.jumbotron-fluid{
  background: #000 url('../assets/images/IMG_7619.JPG') ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #ffd3d9 !important;
  padding: 10rem;
  }
  ul.nav.nav-pills {
  margin-left: 0rem;
  margin-top: -9rem;
  }
  h1.display-6 {
    margin-top: -15rem;
    margin-left: -13rem;
  }

  h4.sub-display {
    margin-top: -12rem;
  }
}


  @media screen and (min-width: 768px) and (max-width : 1024px) {
    div.jumbotron-fluid{
      background: #000 url('../assets/images/IMG_7619.JPG') ;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-color: #ffd3d9 !important;
      padding: 70rem;
      }
      ul.nav.nav-pills {
      margin-left: -65rem;
      margin-top: -65rem;

      }
      ul.nav.nav-pills a {
        font-size: 3rem !important;
      }
      h1.display-6 {
        margin-top: 25rem;
        margin-left: -72rem;
        font-size: 3.5rem;
        white-space: nowrap;
      }

      h4.sub-display {
        // margin-top: 27rem;
        margin-left: -21rem;
        margin-top: 30rem;

        font-size: 2.5rem;
        white-space: nowrap;

      }

  }

  @media screen and (min-width : 480px) and (max-width: 767px) {
    div.jumbotron-fluid{
      background: #000 url('../assets/images/IMG_7619.JPG') ;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-color: #ffd3d9 !important;
      padding: 75rem;
      }
      ul.nav.nav-pills{
      margin-left: -65rem;
      margin-top: -67rem;

      }
      ul.nav.nav-pills a{
      font-size: 3rem;

      }
      h1.display-6 {
        margin-top: 56rem;
        margin-left: -75rem;
        font-size: 4rem;
        white-space: nowrap;
      }

      h4.sub-display {
        margin-top: 63rem;
        margin-left: -24rem;

        font-size: 3rem;
        white-space: nowrap;

      }
    }

  @media screen and (min-width : 320px) and (max-width : 480px) {
    div.jumbotron-fluid{
      background: #000 url('../assets/images/IMG_7619.JPG') ;
      background-attachment: fixed;
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #ffd3d9 !important;
      padding: 55rem;

      }
      ul.nav.nav-pills{
      margin-left: -45rem;
      margin-top: -50rem;


      }
      ul.nav.nav-pills a{
      font-size: 3rem;


      }
      h1.display-6 {
        margin-top: 65rem;
        margin-left: -55rem;
        font-size: 4rem;
        white-space: nowrap;
      }

      h4.sub-display {
        margin-top: 72rem;
        margin-left: -24rem;

        font-size: 3rem;
        white-space: nowrap;

      }
    }




// div.card {
//   // width: 15%;
//   display: inline-block;
// }



// @media screen and (min-width: 768px) {
// ul.nav.nav-pills {
//
//   }
// }

@media screen and (max-width: 767px) {
.mobile-margin.visible-sm {
  margin-left:0rem;
  }
}





.headline-container {
  display: flex;
  margin-top: 40rem;
  margin-left: 13rem;

}

.sub-display {
  margin-top: 4rem;
  margin-left: -15rem;
}


// p.lead {
//   display: flex;
//   margin-top: 5rem;
//   margin-left: -30rem;
//
// }

// .work-section {
//   background: #FFF89E ;
//   padding: 3rem;
//   display: flex;
//   text-align: center;
//   align-items: center;
//   justify-content: center;
//
// }

button.btn.btn-primary {
  background: #F36951;

}

.work-section ul {
  list-style: none;
}

// div.work-section-container {
//   width: 80%;
// }

// div.card-about-content {
//
// }

div.about-section{
  background:  #FFBC9C;
  display: flex;
  justify-content: center;
  color: inherit;
  padding: 3rem;
  align-items: center;
}

div.card-about-content {

  padding-left: 0rem;
  align-items: center;

}
div.card-about-content.a.btn.btn-outline-danger {
  justify-content: center;
  align-items:center;
  display:flex;
}

@media screen and (min-width : 1024px) {
  div.about-container {
    background:  #FFBC9C;
    padding: 3rem;

  }
  h5.about-description {
    width: 80%;
  }
  img.rounded {
    width: 80%;
    box-shadow: 2px 2px 2px 1px #6c757d;
  }
}

@media screen and (min-width: 768px) and (max-width : 1023px) {
  div.container-fluid div.about-container {
    background:  #FFBC9C;
    background-position: relative;
    background-size: auto 100%;
    margin-right: -85rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
    text-align: center;

  }
  h5.about-description {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  img.rounded {
    width: 80%;
    box-shadow: 2px 2px 2px 1px #6c757d;
  }
}

@media screen and (min-width : 480px) and (max-width: 767px) {
  div.container-fluid div.about-container {
    background:  #FFBC9C;
    background-position: relative;
    background-size: auto 100%;
    margin-right: -110rem;
    // padding-top: 3rem;
    // padding-bottom: 3rem;
    overflow: hidden;
    text-align: center;
    padding: 3rem;
  }

  h5.about-description {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5rem!important;
  }

  h1.about-title {
    font-size: 2.5rem;
  }

  img.rounded {
    width: 50%;
    box-shadow: 2px 2px 2px 1px #6c757d;
    align-items: center;
    justify-content: center;

  }


}

@media screen and (min-width : 320px) and (max-width : 480px) {
  div.about-container {
    background:  #FFBC9C;
    background-position: relative;
    background-size: auto 100%;
    margin-right: -85rem;
    padding-top: 3rem;

    padding-bottom: 3rem;

    overflow: hidden;

    text-align: center;
    }
    h5.about-description {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto !important;

    }

    div.about-container img.rounded{
      width: 60%;
      box-shadow: 2px 2px 2px 1px #6c757d;
    }
  }


h1.about-title {

  display: flex;
  justify-content: center;
}



.about-description {
  font-size: 1.1rem !important;
  line-height: 1.6rem;
}

div.about-title {
  padding: 5rem;
}

//
// img.rounded {
//
//
// }

@media screen and (min-width : 1024px) {
  .container-fluid footer.contact-footer {
    background: #F36951;
    background-position: relative;
    background-size: auto 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-right: 0rem;
    overflow: hidden;
    text-align: center;

  }
}

@media screen and (min-width: 768px) and (max-width : 1024px) {
  .container-fluid footer.contact-footer {
    background: #F36951;
    background-position: relative;
    background-size: auto 100%;
    margin-right: -85rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
    text-align: center;

  }
}



@media screen and (min-width : 480px) and (max-width: 767px) {
  .container-fluid footer.contact-footer {

    background: #F36951;
    background-position: relative;
    background-size: auto 100%;
    margin-right: -110rem;
    padding-top: 3rem;

    padding-bottom: 3rem;

    overflow: hidden;

    text-align: center;
  }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
  .container-fluid footer.contact-footer {

    background: #F36951;
    background-position: relative;
    background-size: auto 100%;
    margin-right: -85rem;
    padding-top: 3rem;

    padding-bottom: 3rem;

    overflow: hidden;

    text-align: center;
  }
}



  // .container-fluid footer.contact-footer {
  //   background: #F36951;
  //   background-position: relative;
  //   background-size: auto 100%;
  //   // margin-right: -70rem;
  //   padding-top: 3rem;
  //   padding-bottom: 3rem;
  //   overflow: hidden;
  //   text-align: center;
  //
  // }

  // @media screen and (min-width : 1024px) {
  //
  // @media screen and (min-width: 768px) and (max-width : 1024px) {
  //   }

    // @media screen and (min-width : 480px) and (max-width: 767px) {
    //
    // @media screen and (min-width : 320px) and (max-width : 480px) {




@media screen and (min-width : 1024px) {
    div.work-container {
      background: #FFBC9C;
      width: 100%;
      border-top: 0.5rem solid #fff;
      overflow: hidden;
    }
    .container-fluid {
      background: #FFBC9C
    }
    div.card {
      text-align: left;
    }
    p.card-text {
      width: 80%;
    }
    div.card ul {
      width: 60%;
    }

    img.card-img-top-1 {
      width: 80%;
    }
    img.card-img-top-2 {
      width: 80%;
    }
    img.card-img-top-3 {
      width: 80%;
    }
  }

@media screen and (min-width: 768px) and (max-width : 1024px) {
  div.work-container {
  background: #FFBC9C;
  border-top: 0.5rem solid #fff;
  background-position: relative;
  background-size: auto 100%;
  margin-right: -85rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
  text-align: center;
  }
  .container-fluid {
    background: #FFBC9C
  }

  div.card {
    text-align: left;
  }
  p.card-text {
    width: 60%;
  }
  div.card ul {
    width: 60%;
  }
  img.card-img-top-1 {
    width: 80%;
  }
  img.card-img-top-2 {
    width: 80%;
  }
  img.card-img-top-3 {
    width: 80%;
  }
}

@media screen and (min-width : 481px) and (max-width: 767px) {
    div.work-container {
      background: #FFBC9C;
      border-top: 0.5rem solid #fff;
      background-position: relative;
      background-size: auto 100%;
      margin-right: -110rem;
      // padding-top: 3rem;
      // padding-bottom: 3rem;
      overflow: hidden;
      text-align: center;
      padding: 3rem;
    }
    .container-fluid {
      background: #FFBC9C
    }
    div.card {

      align-items: center;
      justify-content: center;
      display:flex;
      width: 50%;
      font-size: 1.8rem;
      text-align:left;
      margin: 0 auto;

    }
    p.card-text  {
    width: 50%;

    }
    div.card ul {
      text-align: left;

    }

    img.card-img-top-1{
      width: 55%;
    }
    img.card-img-top-2{
      width: 55%;
    }
    img.card-img-top-3{
      width: 55%;
    }

  }

@media screen and (min-width : 320px) and (max-width : 480px) {
    div.work-container {
    background: #FFBC9C;
    border-top: 0.5rem solid #fff;
    background-position: relative;
    background-size: auto 100%;
    margin-right: -85rem;
    padding-top: 3rem;

    padding-bottom: 3rem;

    overflow: hidden;

    text-align: center;
    }
    .container-fluid {
      background: #FFBC9C
    }
    div.card {

      align-items: center;
      justify-content: center;
      display:flex;
      width: 70%;
      font-size: 1.8rem;
      text-align:left;
      margin: 0 auto;

    }
    p.card-text  {
    // width: 50%;

    }
    h5.card-title {
      font-size: 2rem;
    }
    div.card ul {
      text-align: left;

    }
    h5.about-description {
      margin: 0 auto;
    }

    img.card-img-top-1{
      width: 55%;
    }
    img.card-img-top-2{
      width: 55%;
    }
    img.card-img-top-3{
      width: 55%;
    }
  }

// @media screen and (min-width: 768px) {
//   div.work-container {
//   background: #FFBC9C;
//   width: 100%;
//   overflow: hidden;
// }
//
// }

// @media screen and (max-width: 767px) {
//   div.work-container {
//     background: #FFBC9C;
//     width: 100%;
//     overflow: hidden;
//   }
//
//   h1.work-title {
//     font-size: 2rem;
//   }
//
//   div.card {
//     margin: 1rem;
//     width: 80%;
//   }
//
//   h5.about-description {
//     padding-top: 3rem;
//   }
// }

img.card-img-top-1 {
  // width: 80%;
  box-shadow: 2px 2px 2px 1px #6c757d;
}

img.card-img-top-2 {
  // width: 80%;
  box-shadow: 2px 2px 2px 1px #6c757d;
}

img.card-img-top-3 {
  // width: 80%;
  box-shadow: 2px 2px 2px 1px #6c757d;
}

div.card-img-container {
  margin: auto 0;
}

div.card {
  border: none;
  background: #FFBC9C;

}

div.card-1 {
  padding-bottom: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

div.card-2 {
  padding-bottom: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;


}

div.card-3 {
  padding-bottom: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;

}

// div.buttons {
//
// }

div.portfolio-container-fluid {
  background:  #FFF89E;
}

// p.card-text, .card ul {
//   width: 70%;
// }

html.no-js-portfolio{
  background:  #FFF89E;
}

html.no-js-about {
  background:#ffd3d9

}

@media screen and (min-width : 1024px) {
  div.about.jumbotron-fluid {
    background: #000 url('../assets/images/IMG_7578.JPG');
    background-position: relative;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    padding: 40rem;

    }
    ul.nav {

    }

  }


@media screen and (min-width : 320px) and (max-width : 480px) {
  div.about.jumbotron-fluid {
    background: #000 url('../assets/images/IMG_7578.JPG');
    background-position: relative;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    padding: 40rem;

    }
  }

@media screen and (min-width : 480px) and (max-width: 767px) {
div.about.jumbotron-fluid {
  background: #000 url('../assets/images/IMG_7578.JPG');
  background-position: relative;
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow: hidden;
  padding: 75rem;

  }
}

@media screen and (min-width: 768px) and (max-width : 1023px) {
  div.about.jumbotron-fluid {
    background: #000 url('../assets/images/IMG_7578.JPG');
    background-position: relative;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    padding: 55rem;

  }

}

@media screen and (min-width: 1024px) {
  div.about-me-container {
  width: 50%;
  position: relative;
  margin-left: 20rem;
  padding-bottom: 5rem;
  overflow: hidden;
  }
  h1.font-weight-bold {
    padding-top: 5rem;
    margin-left: 9rem;
    padding-bottom: 1rem;
  }


  }


@media screen and (min-width:768px ) and (max-width: 1023px) {
  div.about-me-container {
  width: 80%;
  position: relative;
  margin-left: 30rem;
  padding-bottom: 5rem;
  overflow: hidden;
  }
  h1.font-weight-bold {
    padding-top: 5rem;
    margin-left: 12rem;
    padding-bottom: 1rem;
  }


  }


@media screen and (min-width: 481px) and (max-width : 767px) {
  div.about-me-container {
  width: 100%;
  position: relative;
  margin-left: 50rem;
  padding-bottom: 5rem;
  overflow: hidden;
  }
  h1.font-weight-bold {
    padding-top: 5rem;
    margin-left: 4rem;
    padding-bottom: 1rem;
  }


  }

@media screen and (min-width : 320px) and (max-width : 480px) {
  div.about-me-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin-left: 25rem;
  padding-bottom: 5rem;
  overflow: hidden;
  }
  h1.font-weight-bold {
    padding-top: 5rem;
    margin-left: 8rem;
    padding-bottom: 1rem;
  }


}




html.no-js-about body {
    background: #ffd3d9;
}


// ul.nav.portfolio {
//   margin-right: -28rem;
//   margin-top: -20rem;
//
// }

@media screen and (max-width: 767px) {
  ul.nav.portfolio {
    margin-right: -30rem;
    margin-top: -60rem;
    padding-top: 30rem;
    white-space: nowrap;

  }

  ul.nav.portfolio a{
    color: #fff;

  }

  // u.nav.portfolio a.flex-sm-fill {
  //   color: #fff;
  // }
}

@media screen and (min-width: 768px) {
ul.nav.portfolio {
  margin-right: -28rem;
  margin-top: -20rem;
}
}


a.nav-link {
  color:black;
  font-size: 1.5rem;
}

a.nav-link:hover {
  color:#F36951; text-decoration:none;
}

a.nav-link.active {
  padding: 1.5rem;

}

.about-heading {
  display: flex;
  margin-top: 15rem;
  margin-left: -25rem;
}



div.about-sub-heading {
  margin-left: -25rem;
}

@media screen and (max-width: 767px) {
  div.about-sub-heading {
    margin-left: -20rem;
  }
}



@media screen and (max-width: 767px) {
.mobile-margin.visible-sm {
  width: 100%;
  }
}




div.social-media-icons{
  padding-top: 1rem;

  display:inline-flex;
  cursor: pointer;
}

div.social-media-icons a {
  padding: 0;
}

.btn-outline-dark {
  color: #102673 !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: #102673 !important;
 }
  .btn-outline-dark:hover {
    color: #fff !important;
    background-color: #102673 !important;
    border-color: #102673 !important;
   }



  h4.text-dark {
    color: #102673 !important;
    font-style: bold !important;
    font-family: 'PT Sans Caption', sans-serif !important;
  }

  .font-change {
      font-family:  'PT Sans Caption', sans-serif !important;
  }









@import url('https://fonts.googleapis.com/css?family=Muli|Nanum+Gothic|Noto+Sans+TC');
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap"
